.topNavBar {
  display: flex;
  justify-content: center;
  /* background-color: var(--ifm-navbar-background-color); */
  /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1); */
  padding: 0.5rem 1rem;
  position: sticky;
  top: var(--ifm-navbar-height);
  z-index: 100;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.navItem {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--ifm-navbar-link-color);
  font-weight: 500;
  transition: all 0.2s ease;
  border-radius: 4px;
}

.navItem:hover {
  color: #fc5f1e;
  text-underline-offset: none;
}

.activeNavItem {
  color: #fc5f1e;
  border-bottom: 2px solid #fc5f1e;
}

@media (max-width: 768px) {
  .navContainer {
    overflow-x: auto;
    justify-content: flex-start;
    padding: 0 0.5rem;
  }
  
  .navItem {
    white-space: nowrap;
    text-decoration: none;
  }
}

.roundedButton {
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  margin-left: 0.75rem;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 2px solid;
  width: max-content;
  color: #fc5f1e;
}

.roundedButton:hover{
  background-color: rgba(252, 95, 30, 0.1);
  color: #fc5f1e;
  text-decoration: none;
}